extends layout

block content
  .center
    .container
      h1 Online
      if code == 500
        p='Error >Д< '
      else if !data.date
        p='Empty =_='
      else
        ul
          li 
            div(class=['date', 'center'])
              b=data.date
          each movie in data.movies
            a(href='https://movie.douban.com/subject/' + movie.id target="_blank")
              li
                div.movie(style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 60%), url(" + movie.cover + ")")
                  span.padding-6=movie.rating
                  strong.padding-6=movie.title


